<div class="pos-f-t fixed-top header bg-light">
    <nav class="navbar navbar-inverse bg-light navbar-toggleable-md">
        <!-- <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="row width-100">
            <div class="col-md-3">
                <a class="navbar-brand" href="javascript:void(0)">
                        <img src="assets/images/osc-logo.png" class="user-avatar" />
                    </a>
            </div>
            <div class="col-md-9">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto mt-2 mt-md-0" >
                        <li class="nav-item dropdown" ngbDropdown>
                            <a href="javascript:void(0)" class="nav-link text-info" ngbDropdownToggle>
                                <i class="fa fa-user-circle-o"></i> Robert Smith <b class="caret"></b>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-user"></i> {{ 'Profile'  }}</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox'  }}</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-gear"></i> {{ 'Settings'  }}</a>
                                <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()"><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out'  }} </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown" ngbDropdown>
                            <!-- <div class="dropdown"> -->
                            <a class="nav-link text-info" href="javascript:void(0)" ngbDropdownToggle>
                                <i class="fa fa-envelope-o"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                                <span class="badge badge-notify">2</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right messages">
                                <li class="media">
                                    <img class="d-flex align-self-center mr-3" src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">Robert Smith</h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="d-flex align-self-center mr-3" src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">Robert Smith</h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" ngbDropdown>
                            <a href="javascript:void(0)" class="nav-link text-info" ngbDropdownToggle>
                                <i class="fa fa-bell-o"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                                <span class="badge badge-notify">3</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item">Pending Task <span class="badge badge-info">6</span></a>
                                <a href="javascript:void(0)" class="dropdown-item">In queue <span class="badge badge-info"> 13</span></a>
                                <a href="javascript:void(0)" class="dropdown-item">Mail <span class="badge badge-info"> 45</span></a>
                                <li class="dropdown-divider"></li>
                                <a href="javascript:void(0)" class="dropdown-item">View All</a>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="d-flex flex-row-reverse">
                    <div class="pl-5 pt-3">
                        <h4 class="font-weight-bold app-logo-color"><a href="javascript:void(0)" class="dropdown-item">Auction</a></h4>
                    </div>
                    <div class="pl-5 pt-3">
                            <h4 class="font-weight-bold app-logo-color"><a href="javascript:void(0)" class="dropdown-item">Dashboard</a></h4>
                    </div>
                    <div class="pl-5 pt-3">
                            <h4 class="font-weight-bold app-logo-color"><a href="javascript:void(0)" class="dropdown-item">Layout</a></h4>
                    </div>
                </div>
            </div>
        </div>    
    </nav>
</div>
