<div class="home-page" [@routerTransition]>
    <div class="">
        <div class="jumbotron text-center mt-7">
                <h3 class="font-weight-bold app-logo-color">List Your Boat</h3>
                <div class="progress mt-5" style="margin-left: 24%;">
                        <h5><i class="fa fa-circle-thin" aria-hidden="true"></i></h5>
                        <div class="progress-bar" role="progressbar" style="width: 33%;height:2px;margin-top: 10px;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                        <h5><i class="fa fa-circle-thin" aria-hidden="true"></i></h5>
                        <div class="progress-bar bg-dark" role="progressbar" style="width: 33%;height:2px;margin-top: 10px;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                        <h5><i class="fa fa-circle-thin" aria-hidden="true"></i></h5>
                </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label class="font-weight-bold"><h4 class="font-weight-bold app-logo-color">I am Looking for 
                            <span class="details-tooltip" data-toggle="tooltip"
                                data-placement="bottom"
                                data-html="true"
                                title="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.">
                                <i class="fa fa-question-circle" aria-hidden="true"></i>
                            </span>
                        </h4></label>
                        <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio">
                                <input id="boatRadioOptions1" name="boat-options" type="radio" class="custom-control-input" selected>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Repair</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="boatRadioOptions2" name="boat-options" type="radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Survey</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="boatRadioOptions2" name="boat-options" type="radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Refit</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="boatListingTitle"><h4 class="app-logo-color font-weight-bold">Boat Listing Title</h4></label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="boatListingDescription"><h4 class="font-weight-bold">Example textarea</h4></label>
                        <textarea class="form-control" id="listingDescription" rows="12"></textarea>
                    </div>
                    <button type="button" class="mr-3 pull-right btn btn-warning">Next: Survey Info</button>
                    <button type="button" class="mr-3 pull-right btn btn-outline-primary">Cancel</button>
                </form>        
            </div>
        <div class="col-md-6 p-3">
                <div class="p-3 mb-5 bg-light text-dark">
                    <h4 class="font-weight-bold app-logo-color">My Boat</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/images/slider2.jpg" width="100px" height="100px" class="user-avatar" />
                        </div>
                        <div class="col-md-9">
                            <div style="display: flex;">
                                <b class="mr-3">"Big Blue" </b><p>54' Bartram Sportfish 1982</p>
                                
                            </div>
                            <div style="display: flex;">
                                <b class="mr-3">Location :</b><p>Miami, FL</p>
                                <a href="#" class="ml-3"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span>Edit</span></a>
                            </div>
                            <div style="display: flex;">
                                <b class="mr-3">Zipcode :</b><p>33018</p>
                                <a href="#" class="ml-3"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span>Edit</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-3 mb-5">
                    <h4 class="font-weight-bold app-logo-color">My Budget</h4>
                    <select class="form-control">
                            <option>Default select</option>
                    </select>
                </div>
                <div class="p-3 mb-5 bg-light text-dark">
                        <h4 class="font-weight-bold app-logo-color">Upload Pictures & Media <i class="pull-right fa fa-camera-retro" aria-hidden="true"></i></h4>
                        <span>Supported Media Files: .gif, .jpg, .mpg</span>
                        <div class="mt-5">
                            <label class="custom-file">
                                <input type="file" id="file2" class="custom-file-input">
                                <span class="custom-file-control"></span>
                            </label>
                        </div>
                </div>
            </div>
    </div>
</div>
